@mixin button_as_link {
    background:     none;
    border:         none;
    outline:        transparent;
    cursor:         pointer;
    font-family:    $font-family-2;
    font-size:      $small;
    color:          $color-1;
}

.button-link {
    text-shadow: $text-shadow-1;
    @include     button_as_link;
}

.body-text-buttons {
    font-family:    $font-family-1;
}
