.fa {
    padding: 0px 10px 0px 10px;
}

.fa-linkedin-square {
    color:          #07a4b7;
    text-shadow:    $text-shadow-1;
}

.fa-envelope-o {
    @include        button_as_link;
    display:        inline;
    color:          #ec5358;
    text-shadow:    $text-shadow-1;
}

.fa-github-square {
    color:          #91f32d;
    text-shadow:    $text-shadow-1;
}

.fa-file-text {
    color:          $beige;
    text-shadow:    $text-shadow-1;
}

.fa-camera {
    color:          #1f1818;
    text-shadow:    2px 2px 2px #2d2d2d;
}

.fa-video-camera {
    color:          #575b5f;
    text-shadow:    $text-shadow-1;
}

#top-link {
    position: fixed;
    right: 3%;
    bottom: 3%;
}

.fa-flickr {
    position: fixed;
    bottom: 7%;
    right: 7%;
}

.fa-youtube-square {
    position: fixed;
    bottom: 7%;
    right: 7%;
}
