#link-name-home {
    color:          $color-2;
    text-shadow:    2px 2px 2px #1d1d1b;
}

.code-link {
    text-shadow:    8px 8px 15px $black;
    color:          $color-2;
}

a {
    text-decoration:    none;
    color:              $color-1;
    text-shadow:        $text-shadow-1;
}
