@media screen {
  nav#main-nav {
    #email-me-modal-outside {
      #email-me-modal-close {
        font-family: $font-family-4;
        display: block;
        float: initial;
        font-size: 4.6vh;
        font-weight: bold;
        text-align: right;
        color: $foreground-1;
      }
      #email-me {
        width: 75%;
        margin-top: 36%;
        text-align: center;
        font-size: 3.6vh;
        a {
          display: block;
          padding-top: 4%;
          font-size: 3.3vh
        }
      }
      #mailto {
        font-weight: bold;
      }
    }
  }
}
