@media screen {
  nav#main-nav {
    #email-me-modal-outside {
      #email-me-modal-close {
        font-family: $font-family-4;
        display: block;
        float: initial;
        font-size: 7vw;
        font-weight: bold;
        text-align: right;
        color: $foreground-1;
        position: fixed;
        right: 10%;
        border: 1px solid $foreground-1;
        background: $background-1;
      }
      #email-me {
        width: 75%;
        margin-top: 36%;
        text-align: center;
        font-size: 6vw;
        p {
          padding-top: 10%;
        }
        a {
          display: block;
          padding-top: 4%;
          font-size: 6vw;
        }
      }
    }
  }
}
