@media screen
and (orientation: landscape) {
  nav#main-nav {
    #email-me-modal-outside {
      #email-me-modal-close {
        font-size: 10vh;
      }
      #email-me {
        width: 55%;
        margin-top: 10%;
        p {
          font-size: 6.6vh;
        }
        a {
          font-size: 6.6vh;
        }
      }
    }
  }
}
