@media screen
and (orientation: landscape)
and (min-width: $desktop-landscape-width) {
  nav#main-nav {
    #email-me-modal-outside {
      #email-me-modal-close {
        font-size: 28px;
      }
      #email-me {
        width: 238px;
        margin-top: 160px;
        padding: 36.3px;
        p {
          font-size: 21px;
        }
        a {
          font-size: 17px;
        }
      }
    }
  }
}
