@media screen
and (orientation: portrait)
and (min-width: $tablet-portrait-width) {
  nav#main-nav {
    #email-me-modal-outside {
      #email-me-modal-close {
        top: 27%;
        font-size: 4vw;
        right: 24%;
      }
      #email-me {
        width: 48%;
        margin-top: 33%;
        p {
          font-size: 4vw;
        }
        a {
          font-size: 4vw;
        }
      }
    }
  }
}
