@media screen
and (orientation: portrait)
and (min-width: $tablet-portrait-width) {
  nav#main-nav {
    #email-me-modal-outside {
      #email-me-modal-close {
        font-size: 4vw;
      }
      #email-me {
        width: 48%;
        margin-top: 33%;
        p {
          font-size: 2.7vh;
        }
        a {
          font-size: 2.4vh;
        }
      }
    }
  }
}
