#photo {
    background: transparent;
    border: initial;
    padding: 5% 0% 0% 0%;
    #photo-box {
        display: flex;
        justify-content: center;
        #photo-inner-box {
            height: 475px;
            width: 600px;
            #photo-slideshow-url {
                border:         3px outset $color-1;
                box-shadow:     8px 8px 15px $black;
            }
        }
    }
}

#photo-modal-transparency {
    background-color: rgba(0, 0, 0, .8);
    background-color: rgb(0, 0, 0);
    opacity: .8;
}
