#video {
    padding: 0;
    opacity: none;
    text-align: center;
    background: transparent;
    border: inherit;
    width: 900px;
    #video-slideshow-title {
        font-size: 2em;
    }
    div.video-box {
        text-align:         center;
        margin: 0;
        display: flex;
        justify-content: center;
        #video-slideshow-iframe {
            border:         3px outset $color-1;
            box-shadow:     8px 8px 15px $black;
            display: inline-block;
            float: left;
        }
        #video-slideshow-prev-button{
            display: inline-block;
            float: left;
        }
        #video-slideshow-next-button{
            display: inline-block;
            float: left;
        }
    }
}

#video-modal-transparency {
    background-color: rgba(0, 0, 0, .8);
    background-color: rgb(0, 0, 0);
    opacity: .8;
}
