@media screen
and (orientation: portrait) {
  nav#main-nav {
    #about-me-modal-outside {
      #about-me {
        width: 87%;
        margin-top: 5%;
        margin-bottom: 5%;
      }
      .about-me-copy {
        font-size: 3.3vh;
        text-indent: 6.3vh;
        line-height: 4.4vh;
        padding-bottom: 6%;
      }
      #about-me-modal-close {
        font-size: 5.9vh;
      }
    }
  }
}