#!/usr/bin/env ruby

route '/robots.txt' do
  item.identifier
end

compile '/robots.txt' do
  write item.identifier.to_s
end

compile '/index.html' do
  layout '/default.html'
end

route '/index.html' do
  '/index.html'
end

compile '/js/bundle.js' do
  write item.identifier.to_s
end

compile '/stylesheets/main.scss' do
  filter :sass, syntax: :scss
  filter :rainpress
  write item.identifier.without_ext + ".css"
end

compile '/img/**/*' do
  write item.identifier.to_s
end

compile '/**/*' do
  # do nothing
end

layout '/**/*', :erb
