#!/usr/bin/env ruby

compile '/**/*.html' do
  layout '/default.*'
end

# This is an example rule that matches Markdown (.md) files, and filters them
# using the :kramdown filter. It is commented out by default, because kramdown
# is not bundled with Nanoc or Ruby.
#
# compile '/**/*.md' do
#   filter :kramdown
#   layout '/default.*'
# end

compile '/stylesheets/*.scss' do
  filter :sass, syntax: :scss
  write item.identifier.without_ext + ".css"
end

route '/robots.txt' do
  item.identifier
end

route '/views/*.{html,md}' do
  if item.identifier =~ '/views/index.*'
    '/index.html'
  else
    "/" + item.identifier.without_ext.split("/")[2] + "/index.html"
  end
end

route '/**/*.{html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/js/**/*' do
  if File.basename(item.identifier) == 'bundle.js'
    write item.identifier.to_s
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
