body {
    color: #eadfb0;
    background-color:  #544b48;
    font-family: courier, monospace, arial, sans-serif;
    font-size: 1em;
    text-align: center
}

p {
    color:   #eadfb0;
}

p.prose {
    text-align: left;
    text-indent: 3em;
}

.horizontal-rule {
    border-top: dotted 2px #fffb00;
}

#link-name-home {
    color: #fffb00;
    text-shadow: 2px 2px 2px #1d1d1b;
}

a {
    text-decoration: none;
    color: #eadfb0;
}

button.link-like-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

#main {
    /* margin: 0% 10% 0% 10%; */
    margin: auto;
    max-width: 500px;
}

.sub-header {
    padding-bottom: 1%;
}

h1 {
    font-size: 5em;
    color: #fffb00;
    font-family: 'Bangers', arial, sans-serif;
    margin-top: 5%;
    margin-bottom: 0;
}

h2 {
    font-family: 'Bangers', arial, sans-serif;
}

nav {
    border-bottom: 2px dotted #fffb00;
    margin: 0 10% 0 10%;
    display: inline-table

}

footer {
    border-top: 2px dotted #fffb00;
    margin: 0 10% 0 10%;
    padding: 2% 10% 10% 10%;
    display: inline-table
}

ul#primary-links {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 2%;
    color: #fffb00;
}

ul#footer-links {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 2%;
    display: inline-table;
    font-family: 'Bangers', arial, sans-serif;
    color: #fffb00;

}

li.link-cell {
    display: table-cell;
    margin: 0;
}

ul {
    list-style-position: inside;
}

.fa {
    padding: 0px 10px 0px 10px;
}

.fa-linkedin-square {
    color: #07a4b7;
    text-shadow: 2px 2px 2px black;
}

.fa-envelope-o {
    color: #ec5358;
    text-shadow: 2px 2px 2px black;
}

#fa-envelope-o-button {
    background: none;
    border: none;
    outline: transparent;
    cursor: pointer;
    text-shadow: 2px 2px 2px black;
}

.fa-github-square {
    color: #91f32d;
    text-shadow: 2px 2px 2px black;
}

.fa-file-text {
    color: #eadfb0;
    text-shadow: 2px 2px 2px black;
}

.fa-camera {
    color: #1f1818;
    text-shadow: 2px 2px 0px #848484;
}



.fa-video-camera {
    color: #575b5f;
    text-shadow: 2px 2px 2px black;
}

iframe {
    border: 3px outset #eadfb0;
    box-shadow: 8px 8px 15px black;
}

img {
    box-shadow: 8px 8px 15px black;
    border-radius: 100%;
}

.video-box {
    margin: 7%;
}

.site-box {
    margin: 7%;
}