$default-padding:   2%;

$gray-middle:       #544b48;
$beige:             #eadfb0;
$black:             #000000;
$yellow-bright:     #fffb00;

$text-shadow:       2px 2px 2px $black;

$primary-font:          'Bangers', arial, sans-serif;
$secondary-font:        courier, monospace, arial, sans-serif;
$secondary-font-size:   1em;

@mixin button_as_link {
    background:     none;
    border:         none;
    outline:        transparent;
    cursor:         pointer;
    font-family:    $secondary-font;
    font-size:      $secondary-font-size;
    color:          $beige;
}

body {
    color:              $beige;
    background-color:   $gray-middle;
    font-family:        $secondary-font;
    font-size:          $secondary-font-size;
    text-align:         center;
}

p {
    color:   $beige;
}

a {
    text-shadow: $text-shadow;
}

button {
    text-shadow: $text-shadow;
}

.primary-link-text {
    margin: 5%;
}

p.prose {
    text-align:     left;
    text-indent:    3em;
}

.horizontal-rule {
    border-top: dotted 2px $yellow-bright;
}

#link-name-home {
    color:          $yellow-bright;
    text-shadow:    2px 2px 2px #1d1d1b;
}

a {
    text-decoration:    none;
    color:              $beige;
}

#button-email {
    @include button_as_link;
    display: inline;
}

#button-diversion {
    @include        button_as_link;
    font-family:    $primary-font;
}

#main {
    /* margin: 0% 10% 0% 10%; */
    margin:     auto;
    max-width:  528px;
}

.sub-header {
    padding-bottom: 1%;
}

h1 {
    font-size:      5em;
    color:          $yellow-bright;
    font-family:    $primary-font;
    margin-top:     5%;
    margin-bottom:  0;
}

h2 {
    font-family: $primary-font;
}

nav {
    border-bottom:  2px dotted $yellow-bright;
    margin:         0 10% 0 10%;
    padding:        $default-padding;
    display:        inline-table;
    color:          $beige;

}

footer {
    border-top:     2px dotted $yellow-bright;
    margin:         0 10% 0 10%;
    padding:        2% 10% 10% 10%;
    display:        inline-table;
}

ul#primary-links {
    list-style-type:    none;
    text-align:         center;
    margin:             0;
    padding:            $default-padding;
    color:              $yellow-bright;
    display:            inline;
}

ul#footer-links {
    list-style-type:    none;
    text-align:         center;
    margin:             0;
    padding:            $default-padding;
    display:            inline;
    font-family:        $primary-font;
    color:              $yellow-bright;
}

li.link-cell {
    display:    inline-block;
    margin:     0;
}

ul {
    list-style-position: inside;
}

.fa {
    padding: 0px 10px 0px 10px;
}

.fa-linkedin-square {
    color:          #07a4b7;
    text-shadow:    $text-shadow;
}

.fa-envelope-o {
    @include        button_as_link;
    display:        inline;
    color:          #ec5358;
    text-shadow:    $text-shadow;
}

.fa-github-square {
    color:          #91f32d;
    text-shadow:    $text-shadow;
}

.fa-file-text {
    color:          $beige;
    text-shadow:    $text-shadow;
}

.fa-camera {
    color:          #1f1818;
    text-shadow:    2px 2px 2px #2d2d2d;
}

.fa-video-camera {
    color:          #575b5f;
    text-shadow:    $text-shadow;
}

iframe {
    border:         3px outset $beige;
    box-shadow:     8px 8px 15px $black;
}

img {
    box-shadow:     8px 8px 15px $black;
    border-radius:  100%;
}

.video-box {
    margin: 7%;
}

.site-box {
    margin: 7%;
}

.code-link {
    text-shadow:    8px 8px 15px $black;
    color:          $yellow-bright;
}
