section#sites {
  @media screen
  and (orientation: landscape) {
    header {
      height: 15%;
      h2 {
        @include align-1;
        font-size: 10.5vh;
      }
    }
    #site-box {
      height: 50%;
      width: 50%;
      $padding: 45%;
    }
    #site-slideshow-prev-button {
      font-size: 15vh;
    }
    #site-slideshow-img_url {
      width: auto;
      max-height: 50vh
    }
    #site-slideshow-next-button {
      font-size: 15vh;
    }
    #site-description {
      height: 35%;
      border: 1px solid $color-6;
    }
    #sstd-backing {
      background: $color-1;
      height: 26%;
    }
    #sstd-wrapper {
    }
    #site-slideshow-tech_desc {
      @include align-3;
      font-size: 5.5vh;
      color: $color-5;
    }
    .large-bracket {
      display: none;
      //@include align-3;
      //color: $color-5;
      //font-size: 8vh;
    }
    #sssd-wrapper {
      height: 25%;
    }
    #site-slideshow-short_desc {
      padding-bottom: 0%;
      font-size: 4.3vh;
    }
    #sscui-wrapper {
      height: 49%;
    }
    #site-slideshow-code_url-icon {
      @include align-2;
      font-size: 12.7vh
    }
  }
}
