@media screen
and (orientation: portrait)
and (min-width: $lg-phone-portrait-width) {
  section#sites {
    header {
      height: 20%;
      h2 {
        font-size: 11vh;
      }
    }
    #site-box {
      height: 31%;
    }
    #site-description {
      height: 49%;
      border-top: 1px solid $color-7;
    }
    #sstd-backing {
      border-bottom: 1px solid $color-8;
    }
    #sstd-wrapper {
    }
    .large-bracket {
      text-shadow: $text-shadow-2;
    }
    #site-slideshow-tech_desc {
      text-shadow: $text-shadow-2;
    }
    #sssd-wrapper {
      height: 24%;
    }
    #site-slideshow-short_desc {
      @include align-1;
      font-size: 2.7vh;
    }
    .large-bracket {
    }
    #sswd-wrapper {
        @include alignment-wrapper-1;
        height: 29%;
        max-width: 72%;
    }
    #site-slideshow-work_desc {
      @include align-2;
      color: $color-5;
      text-align: left;
      font-size: 2.1vh;
      line-height: 2.7vh;
    }
    #sscui-wrapper {
      height: 28%;
    }
    #site-slideshow-code_url-icon {
      @include align-2;
      text-shadow: $text-shadow-2;
    }
  }
}
