section#sites {
  @media screen
  and (orientation: landscape)
  and (min-width: $lg-phone-landscape-width) {
    header {
      h2 {
        font-size: 12.5vh;
      }
    }
    #site-box {
      width: 48%;
    }
    #site-slideshow-prev-button {
      font-size: 17vh;
    }
    #site-slideshow-next-button {
      font-size: 17vh;
    }
    #site-description {
    }
    #sstd-backing {
      height: 28%;
    }
    #sstd-wrapper {
    }
    #sssd-wrapper {
      height: 20%;
    }
    #sswd-wrapper {
      display: none;
      //@include alignment-wrapper-1;
      //height: 30%;
    }
    #site-slideshow-work_desc {
      @include align-3;
    }
    #sscui-wrapper {
      height: 52%;
    }
    #site-slideshow-code_url-icon {
      @include align-2;
      font-size: 14vh;
    }
  }
}
