section#sites {
  text-align: center;
  header {
    @include alignment-wrapper-1;
    height: 15%;
    h2 {
      @include align-3;
      font-size: 18vw;
      text-shadow: $text-shadow-1;
    }
  }
  #site-box {
    height: 40%;
    @include alignment-wrapper-1;
    #site-slideshow-site_url {
      @include align-1;
      height: 100%;
      width: auto;
      #site-slideshow-img_url {
        box-shadow:     8px 8px 15px $black;
        border-radius:  100%;
        max-width:      100%;
        height:         auto;
      }
    }
    @mixin button {
      @include button_as_link;
      @include align-1;
      height: 100%;
      width: auto;
    }
    #site-slideshow-next-button {
      @include button;
      text-shadow: $text-shadow-1;
    }
    #site-slideshow-prev-button {
      @include button;
      text-shadow: $text-shadow-1;
    }
  }
  #site-description {
    height: 45%;
    .wrapper-1 {
      @include alignment-wrapper-1;
      height: 0%;
      #site-slideshow-code_url {
        @include align-1;
        display: none;
      }
    }
    .wrapper-2 {
      @include alignment-wrapper-1;
      height: 25%;
      .large-bracket {
        @include align-1;
        font-size: 7vw;
      }
      #site-slideshow-tech_desc {
        @include align-1;
        font-size: 4.9vw;
      }
    }
    .wrapper-3 {
      @include alignment-wrapper-1;
      height: 15%;
      max-width: 83%;
      #site-slideshow-short_desc {
        @include align-1;
        font-size: 4.5vw;
      }
    }
    .wrapper-4 {
      @include alignment-wrapper-1;
      display: none;
      height: 0%;
      #site-slideshow-work_desc {
        @include align-1;
        text-align: left;
      }
    }
    .wrapper-5 {
      @include alignment-wrapper-1;
      height: 60%;
      #site-slideshow-code_url-icon {
        @include align-1;
      }
    }
  }
}
section#sites {
  @media screen {
    @media (orientation: landscape) {
      header {
        height: 15%;
        h2 {
          font-size: 6vw;
        }
      }
      #site-box {
        height: 40%;
        width: 52%;
        $padding: 45%;
        #site-slideshow-prev-button {
          padding-right: $padding;
        }
        #site-slideshow-next-button {
          padding-left: $padding;
        }
      }
      #site-description {
        height: 45%;
        .wrapper-2 {
          height: 25%;
          #site-slideshow-tech_desc {
            font-size: 3.5vw;
          }
          .large-bracket {
            font-size: 5vw;
          }
        }
        .wrapper-3 {
          height: 29%;
          #site-slideshow-short_desc {
            padding-bottom: 0%;
            font-size: 2.7vw;
          }
        }
        .wrapper-5 {
          height: 56%;
          .fa-4x {
            font-size: 3em;
          }
          #site-slideshow-code_url-icon {
            @include align-2;
          }
        }
      }
      @media (min-width: $lg-phone-landscape-width) {
        #site-box {
          width: 48%;
        }
        #site-description {
          .wrapper-2 {
            height: 20%;
          }
          .wrapper-3 {
            height: 15%;
          }
          .wrapper-4 {
            @include alignment-wrapper-1;
            height: 30%;
            #site-slideshow-work_desc {
              @include align-2;
              line-height: 3vw;
            }
          }
          .wrapper-5 {
            height: 35%;
          }
        }
      }
      @media (min-width: $desktop-landscape-width) {
        header {
          height: 20%;
          h1 {
            @include align-3;
          }
        }
        #site-box {
          height: 35%;
          width: 40%;
        }
        #site-description {
          height: 45%;
          .wrapper-2 {
            #site-slideshow-tech_desc {
              font-size: 2.5vw;
              .large-bracket {
                font-size: 4vw;
              }
            }
          }
          .wrapper-3 {
            #site-slideshow-short_desc {
              font-size: 2.1vw;
            }
          }
          .wrapper-4 {
            #site-slideshow-work_desc {
              line-height: 2.2vw;
            }
          }
          .wrapper-5 {
            .fa-4x {
              font-size: 4em;
            }
          }
        }
      }
    }
    @media (orientation: portrait) {
      @media (min-width: $lg-phone-portrait-width) {
        background: blue;
        header {
          height: 20%;
        }
        #site-box {
          height: 31%;
        }
        #site-description {
          height: 49%;
          .wrapper-2 {
            height: 18%;
            #site-slideshow-short_desc {
              font-size: 6.9vw;
            }
            .large-bracket {
              font-size: 10vw;
            }
          }
          .wrapper-3 {
            height: 15%;
          }
          .wrapper-4 {
            @include alignment-wrapper-1;
            height: 29%;
            max-width: 72%;
            #site-slideshow-work_desc {
              @include align-2;
              text-align: left;
              font-size:4.1vw;
            }
          }
          .wrapper-5 {
            height: 38%;
            #site-slideshow-code_url-icon {
              @include align-2;
            }
          }
        }
      }
      @media (min-width: $tablet-portrait-width){
        header {
          height: 20%;
          h2 {
            @include align-3;
            font-size: 14vw;
          }
        }
        #site-box {
          height: 22%;
        }
        #site-description {
          height: 58%;
          .fa-4x {
            font-size: 4em;
          }
          .wrapper-2 {
            height: 15%;
          }
          .wrapper-3 {
            height: 14%;
            #site-slideshow-short_desc {
              font-size: 3.5vw;
            }
          }
          .wrapper-4 {
            height: 27%;
            #site-slideshow-work_desc {
              font-size: 3.2vw;
              line-height: 5vw;
            }
          }
          .wrapper-5 {
            height: 44%;
            #site-slideshow-code_url-icon {
              @include align-2;
            }
          }
        }
      }
    }
  }
}
