section#sites {
  text-align: center;
  header {
    @include alignment-wrapper-1;
    height: 15%;
    h2 {
      @include align-1;
      padding-top: 15%;
      font-size: 18vw;
    }
  }
  #site-box {
    height: 40%;
    @include alignment-wrapper-1;
    #site-slideshow-site_url {
      @include align-1;
      height: 100%;
      width: auto;
      #site-slideshow-img_url {
        box-shadow:     8px 8px 15px $black;
        border-radius:  100%;
        max-width:      100%;
        height:         auto;
      }
    }
    @mixin button {
      @include button_as_link;
      @include align-1;
      height: 100%;
      width: auto;
    }
    #site-slideshow-next-button {
      @include button;
    }
    #site-slideshow-prev-button {
      @include button;
    }
  }
  #site-description {
    height: 45%;
    .wrapper-1 {
      @include alignment-wrapper-1;
      height: 0%;
      #site-slideshow-code_url {
        @include align-1;
        display: none;
      }
    }
    .wrapper-2 {
      @include alignment-wrapper-1;
      height: 25%;
      .large-bracket {
        @include align-1;
        font-size: 7vw;
      }
      #site-slideshow-tech_desc {
        @include align-1;
        font-size: 4.9vw;
      }
    }
    .wrapper-3 {
      @include alignment-wrapper-1;
      height: 15%;
      max-width: 83%;
      #site-slideshow-short_desc {
        @include align-1;
        font-size: 4.5vw;
      }
    }
    .wrapper-4 {
      @include alignment-wrapper-1;
      display: none;
      height: 0%;
      #site-slideshow-work_desc {
        @include align-1;
        text-align: left;
      }
    }
    .wrapper-5 {
      @include alignment-wrapper-1;
      height: 60%;
      #site-slideshow-code_url-icon {
        @include align-1;
        padding-bottom: 82%;
      }
    }
  }
}
section#sites {
  @media screen {
    @media (orientation: landscape) {
      header {
        height: 15%;
        h2 {
          font-size: 6vw;
        }
      }
      #site-box {
        height: 40%;
        width: 52%;
        $padding: 45%;
        #site-slideshow-prev-button {
          padding-right: $padding;
        }
        #site-slideshow-next-button {
          padding-left: $padding;
        }
      }
      #site-description {
        height: 45%;
        .wrapper-2 {
          height: 25%;
          #site-slideshow-tech_desc {
            font-size: 3.5vw;
          }
          .large-bracket {
            font-size: 5vw;
          }
        }
        .wrapper-3 {
          height: 29%;
          #site-slideshow-short_desc {
            padding-bottom: 0%;
            font-size: 2.7vw;
          }
        }
        .wrapper-5 {
          height: 56%;
          .fa-4x {
            font-size: 3em;
          }
          #site-slideshow-code_url-icon {
            vertical-alignment: top;
          }
        }
      }
      @media (min-width: 700px) {
        #site-box {
          width: 48%;
        }
        #site-description {
          .wrapper-2 {
            height: 20%;
          }
          .wrapper-3 {
            height: 15%;
          }
          .wrapper-4 {
            @include alignment-wrapper-1;
            height: 30%;
            #site-slideshow-work_desc {
              @include align-1;
              vertical-align: top;
              line-height: 3vw;
            }
          }
          .wrapper-5 {
            height: 35%;
            #site-slideshow-code_url-icon {
            }
          }
        }
      }
    }
    @media (orientation: portrait) {
      @media (min-width: 375px) {
        background: blue;
        header {
          height: 13%;
        }
        #site-box {
          height: 34%;
        }
        #site-description {
          height: 53%;
          .wrapper-2 {
            height: 18%;
            #site-slideshow-short_desc {
              font-size: 6.9vw;
            }
            .large-bracket {
              font-size: 10vw;
            }
          }
          .wrapper-3 {
            height: 15%;
          }
          .wrapper-4 {
            @include alignment-wrapper-1;
            height: 34%;
            max-width: 72%;
            #site-slideshow-work_desc {
              @include align-1;
              vertical-align: top;
              text-align: left;
              font-size:4.1vw;
            }
          }
          .wrapper-5 {
            height: 33%;
          }
        }
      }
    }
  }
}
