section#diversions {
  #photo {
    background: transparent;
    border: initial;
    padding: 0;
    height: 100%;
    width: 90%;
  }
  #photo-modal-transparency {
    background: black;
    opacity: 0.8;
    background-color: rgba(0,0,0,0.8);
  }
  #photo-modal-close {
    height: 10%;
    display: block;
    text-align:right;
    float: initial;
    font-weight: bold;
  }
  #photo-box {
    height: 80%;
  }
  #flickr-link {
    height: 10%;
    font-size: 1vw;
  }
  #photo-slideshow-prev-button {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 13%;
  }
  #photo-slideshow-next-button {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 13%;
  }
  #photo-slideshow-url {
    display: inline-block;
    max-width: 71%;
    max-height: 98%;
    vertical-align: middle;
  }
}

section#diversions {
  @media (orientation: portrait) {
    .fa-4x {
      font-size: 2em;
    }
    #photo-modal-close {
      height: 20%;
    }
    #photo-box {
      height: 60%;
    }
    #flickr-link {
      height: 20%;
      font-size: 6vw;
    }
    #photo {
      width: 100%;
    }
    #photo-slideshow-url {
      max-width: 70%;
    }
    @media (min-width: $tablet-portrait-width) {
      #photo-modal-close {
        height: 10%;
        font-size: 7vw;
      }
      #photo-box {
        height: 70%;
      }
      #photo-slideshow-url {
        max-width: 78%;
      }
      #photo-slideshow-prev-button {
        width: 8%;
      }
      #photo-slideshow-next-button {
        width: 8%;
      }
      #flickr-link {
        height: 20%;
        font-size: 3vw;
      }
    }
  }
  @media (orientation: landscape) {
    @media (min-width: $desktop-landscape-width) {
      #photo {
        height: 660px;
        width: 900px;
      }
      #photo-modal-close {
        height: 40px;
        display: block;
        text-align:right;
        float: initial;
        font-size: 50px;
      }
      #photo-box {
        height: 550px;
      }
      #flickr-link {
        height: 70px;
        font-size: 16px;
      }
    }
  }
}
