section#diversions {
  #video {
    padding: 0;
    height: 100%;
    width: 90%;
  }
  #video-modal-close {
    height: 8%;
    display: block;
    text-align:right;
    float: initial;
    font-weight: bold;
  }
  #video-box {
    height: 75%;
  }
  #video-slideshow-title {
    height: 7%;
    font-size: 4vw;
  }
  #video-slideshow-description {
    height: 5%;
    font-size: 5vw;
    display: none;
  }
  #youtube-link {
    font-size: 1vw;
    height: 10%;
  }
  #video-slideshow-tech-description {
    height: 5%;
    font-size: 5vw;
    display: none;
  }
  #video-slideshow-prev-button {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 13%;
  }
  #video-slideshow-next-button {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 13%;
  }
  #video-slideshow-iframe {
    display: inline-block;
    max-width: 71%;
    max-height: 98%;
    vertical-align: middle;
  }
}

section#diversions {
  @media (orientation: portrait) {
    .fa-4x {
      font-size: 2em;
    }
    #video-modal-close {
      height: 10%;
      font-size: 11vw;
    }
    #video-slideshow-title {
      font-size: 7vw;
      height: 10%;
    }
    #video-box {
      height: 41%;
    }
    #video-slideshow-next-button {
      width: 11%;
    }
    #video-slideshow-prev-button {
      width: 11%;
    }
    #video-slideshow-description {
      display: block;
      height: 10%;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    #video-slideshow-tech-description {
      display: block;
      height: 7%;
      font-size: 4.5vw;
      width: 80%;
      margin-right: auto;
      margin-left: auto;
    }
    #youtube-link {
      height: 23%;
      font-size: 7vw;
    }
    #video {
      width: 100%;
    }
    #video-slideshow-iframe {
      max-width: 70%;
      max-height: 77%;
    }
    @media (min-width: $tablet-portrait-width) {
      #video-slideshow-prev-button {
          width: 6%;
      }
      #video-slideshow-next-button {
        width: 6%;
      }
      .fa-4x {
        font-size: 4em
      }
      #youtube-link {
        height: 25%;
      }
      #video-box {
        height: 41%;
      }
      #video-slideshow-description {
        font-size: 3.5vw;
        height: 7%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
      #video-slideshow-tech-description {
        height: 5%;
        font-size: 2.5vw;
      }
      #video-slideshow-iframe {
        max-width: 82%;
        max-height: 85%;
      }
      #youtube-link {
        font-size: 2.5vw;
      }
    }
  }
  @media (orientation: landscape) {
    @media(min-width: $desktop-landscape-width) {
      #video {
        padding: 0;
        height: 660px;
        width: 900px;
      }
      #video-modal-close {
        height: 40px;
        display: block;
        text-align:right;
        float: initial;
        font-size: 50px;
        font-weight: bold;
      }
      #video-slideshow-title {
        height: 40px;
        font-size: 40px;
      }
      #video-box {
        height: 425px;
      }
      #video-slideshow-prev-button {
        height: 100%;
        width: 55px;
      }
      #video-slideshow-next-button {
        height: 100%;
        width: 55px;
      }
      #video-slideshow-iframe {
        display: inline-block;
        width: 700px;
        height: 425px;
      }
      #video-slideshow-description {
        display: block;
        font-size: 32px;
        height: 64px;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
      }
      #video-slideshow-tech-description {
        display: block;
        height: 30px;
        font-size: 24px;
      }
      #youtube-link {
        font-size: 15px;
        height: 60px;
      }
    }
  }
}
