---
title: Home
---

<h2><button id="button-about-me" class="button-link body-text-buttons">About Me</button></h2>

<div id="about-me-modal">
  <p class="prose">
    When I graduated from college I had hoped to work as a camera person in the film industry, but I left those ambitions behind to work for a small business out in California.
  </p>

  <p class="prose">
    Life at the chocolate factory was sweet, but I decided to leave in pursuit of different challenges. A year later I found myself working on a Linux server, and doing a lot of scripting in bash. My passion for documentation, small-business, and artistic inclination has led me to web development.
  </p>

  <p class="prose">
    I am pursuing an associate's degree in web development to further my education. In the summer of 2016, I completed a 12-week intensive Ruby on Rails Back End Engineering course at the Iron Yard in Durham, NC.
  </p>

  <p class="prose">
    I’d like to find work in development operations or as a web developer, but I am very willing to branch out and eager to learn as much as I can. I feel that my experience working for a small business and passion make me an asset to any company.
  </p>

  <p class="prose">
    I enjoy playing/writing music, photography, and getting outdoors when not at work.
  </p>
</div>

<h2><a href="sites">Sites</a></h2>


<!-- disabled - toggles visiblity of links below -- see default layout -->
<h2><button id="button-diversion" class="button-link body-text-buttons">Diversions</button></h2>

<!-- <div class="horizontal-rule"></div> -->

<!-- <h2>Diversions</h2> -->
<div class="button-list">
  <ul id="footer-links" class="button-list-items">
    <li class="button-list-cell">
      <a href="https://www.flickr.com/photos/71142284568111622/" class="fa fa-camera fa-5x"></a>
      <p><a href="https://www.flickr.com/photos/71142284568111622/"><span>Photos</span></a></p>
    </li>
    <li class="button-list-cell">
      <a href="./video" class="fa fa-video-camera fa-5x"></a>
      <p><a href="./video"><span>Videos</span></a></p>
    </li>
  </ul>
</div>
