header#main-header {
  color: $color-2;
  text-align: center;
  .wrapper-1 {
    height: 75%;
    @include alignment-wrapper-1;
    #my-name {
      @include align-3;
      font-size: 17vw;
      text-shadow: $text-shadow-1;
      border-bottom: 1px dashed;
      a {
        color: inherit;
      }
    }
  }
  .wrapper-2 {
    @include alignment-wrapper-1;
    height: 25%;
    #occupational-description {
      @include align-1;
      font-size: 3.5vw;
      font-family:  $font-family-2;
    }
    .large-bracket {
      font-size: 5vw;
    }
  }
}
header#main-header {
  @media screen {
    @media (orientation: landscape) {
      .wrapper-1 {
        #my-name {
          font-size: 10vw;
        }
      }
      .wrapper-2 {
        #occupational-description {
          font-size: 2.5vw;
        }
      }
      @media (min-width: $desktop-landscape-width) {
        .wrapper-1 {
          #my-name {
            font-size: 5vw;
          }
        }
        .wrapper-2 {
          #occupational-description {
            font-size: 1.2vw;
          }
          .large-bracket {
            font-size: 2vw;
          }
        }
      }
    }
    @media (orientation: portrait) {
      @media (min-width: $tablet-portrait-width) {
        .wrapper-1 {
          #my-name {
            font-size: 12vw;
          }
        }
        .wrapper-2 {
          #occupational-description {
            font-size: 2.5vw;
          }
        }
      }
    }
  }
}
