#top {
    @media screen {
        @media (orientation: landscape) {
            @media (max-width: $large) {
                #my-name {
                    font-size: 12vw;
                }
                #occupational-description {
                    font-size: 100%;
                }
                .large-bracket {
                    font-size: 100%;
                }
            }
            @media (min-width: $large) {
                #my-name {
                    font-size: 12vw
                }
                #occupational-description {
                    display:  none;
                }
                .large-bracket {
                    display:  none;
                }
            }
        }
    }
    @media (orientation: portrait) {
        @media (min-width: $x-small) {
            #my-name {
                font-size: 12vw;
            }
            #occupational-description {
                font-size: 3vw;
            }
            .large-bracket {
                font-size: 6vw;
            }
        }
    }

    header {
        color: $color-2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #my-name {
        margin: 0;
        a {
            color: inherit;
        }
    }
    #occupational-description {
        font-family:  $font-family-2;
        margin: 0;
    }
    .large-bracket {
        margin: 0;
    }
}
