header#main-header {
    height: 30vh;
}

nav#main-nav {
    height: 70vh;
}

section {
    height:     100vh;
    overflow:       hidden;
}

section#diversions {
  height: 85vh;
}

footer#main-footer {
    height: 15vh;
}
