header#main {
    height: 30vh;
}

nav#main {
    height: 70vh;
}

section {
    height:     100vh;
    overflow:       hidden;
}

section#diversions {
  height: 85vh;
}

footer {
    height: 15vh;
    @include alignment-wrapper-1;
    div {
        @include align-1;
    }
}
