nav#main-nav {
  #nav-1 {
    @include alignment-wrapper-1;
    height: 54%;
    width: 69%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 4.6vw;
    #icon-buttons {
      @include align-1;
      button {
        @include button_as_link
      }
      .button-and-text {
        display: inline-block;
        width: 45%;
        text-align: center;
        .icon-wrapper {
          display: block;
          #email-button {
            padding-bottom: 2.5%;
          }
        }
        .text-wrapper {
          display: block;
          p {
            margin: 0;
          }
        }
      }
      .fa-linkedin-square {
        color:          #07a4b7;
        text-shadow:    $text-shadow-1;
      }
      .fa-envelope-o {
        @include        button_as_link;
        display:        inline;
        color:          #ec5358;
        text-shadow:    $text-shadow-1;
      }

      .fa-github-square {
        color:          #91f32d;
        text-shadow:    $text-shadow-1;
      }

      .fa-file-text {
        color:          $beige;
        text-shadow:    $text-shadow-1;
      }
    }
  }
}

nav#main-nav {
  #nav-1 {
    @media screen {
      @media (orientation: landscape) {
        height: 47%;
        font-size: 2.9vw;
        #icon-buttons {
          .button-and-text {
            width: 23%;
          }
        }
        @media (min-width: $desktop-landscape-width) {
          font-size: 1.9vw;
          height: 30%;
          #icon-buttons {
            .button-and-text {
              width: 13%;
              height: 24%;
              padding-bottom: 0%;
              padding-top: 2%;
            }
          }
        }
      }
    }
    @media (orientation: portrait) {
      @media (min-width: $tablet-portrait-width) {
        font-size: 3.3vw;
        height: 26%;
        width: 86%;
        #icon-buttons {
          .button-and-text {
            width: 19%;
          }
        }
      }
    }
  }
}