nav#main-nav {
  #nav-2 {
    height: 46%;
    font-style: $font-family-1;
    font-size: 5.7vw;
    text-align: center;
    #about-me-button {
      @include button_as_link;
      height: 33%;
      font-size: inherit;
      font-family: inherit;
      width: 100%;
    }
    a {
      display: block;
      line-height: 10vh;
      height: 33%;
      width: 100%
    }
    #about-me-button {
      background: $shade-1;
      border-radius: 24% 1% 1% 1%;
    }
    #sites-link {
      background: $shade-2;
    }
    #diversions-link {
      background: $shade-3;
    }
  }
}

nav#main-nav {
  #nav-2 {
    @media screen {
      @media (orientation: landscape) {
        font-size: 3.4vw;
        height: 53%;
        @media (min-width: $desktop-landscape-width) {
          height: 34%;
          #about-me-button {
            background: none;
          }
          #sites-link {
            background: none;
          }
          #diversions-link {
            background: none;
          }
        }
      }
      @media (orientation: portrait) {
        @media (min-width: $tablet-portrait-width) {
          font-size: 4.5vw;
          height: 33%;
          a {
            line-height: 8vw;
          }
          #about-me-button {
            background: none;
          }
          #sites-link {
            background: none;
          }
          #diversions-link {
            background: none;
          }
        }
      }
    }
  }
}
