$beige:             #eadfb0;
$black:             #000000;
$dark-gray:         #48423f;
$mid-gray:          #534c48;
$bright-yellow:     #fffb00;
$faded-maroon:      #563939;

$color-1:   $beige;
$color-2:   $bright-yellow;

$background-1:  $dark-gray;
