$sans-serif:        'Bangers', helvetica, sans-serif;
$sans-serif-2:      helvetica, sans-serif;
$monospace:         courier, monospace, arial, sans-serif;

$font-family-1:     $sans-serif;
$font-family-2:     $monospace;
$font-family-3:     $sans-serif-2;
$font-size-1:       $small;
