$sans-serif:        'Bangers', arial, sans-serif;
$monospace:         courier, monospace, arial, sans-serif;

$font-family-1:     $sans-serif;
$font-family-2:     $monospace;
$font-size-1:       $small;
