<!-- about me modal -->
<div id="about-me">
  <p class="about-me-copy">
    My background is in film/video production, animation, illustration, and music with a B.A. in Film Studies.
    In 2011, I moved to California to work for Helen Grace Chocolates. I resigned as quality assurance manager in 2013.
  </p>
  <p class="about-me-copy">
    Since that time I have been transitioning into a career in web development. I started working with bash and Linux/Unix utilities, and have continued to expand and explore my skillset.
  </p>
  <p class="about-me-copy">
    In the summer of 2016, I completed a 12-week intensive Ruby on Rails Back End Engineering course at the Iron Yard in Durham, NC. I am currently pursuing an associate’s degree in web development, due for completion in fall 2017.
  </p>
  <p class="about-me-copy">
    Most of my training is in web development, but I’m open to a wide variety of challenges.
  </p>
</div>
