<section id="diversions">

  <header>
    <h2>Diversions</h2>
  </header>

  <div id="vb-out-wrapper">
    <div id="vb-in-wrapper">
      <button id="video-button" class="button-link fa fa-video-camera fa-5x"></button>
      <h3>
        Videos
      </h3>
    </div>
  </div>

  <div id="pb-out-wrapper">
    <div id="pb-in-wrapper">
      <button id="photo-button" class="button-link fa fa-camera fa-5x"></button>
      <h3>
        Photos
      </h3>
    </div>
  </div>

  <div id="video">
    <div id="video-banner">
      <p id="video-slideshow-title">
        Video Title
      </p>
    </div>

    <div id="video-box">
      <button id="video-slideshow-prev-button"
              class="button-link fa fa-chevron-left fa-4x">
      </button>

      <iframe width="700" height="475"
              id="video-slideshow-iframe"
              allowfullscreen
              >
      </iframe>

      <button id="video-slideshow-next-button"
              class="button-link fa fa-chevron-right fa-4x">
      </button>
    </div>

    <p id="video-slideshow-description">
      Video Description
    </p>

    <p id="video-slideshow-tech-description">
      Video Technical Description
    </p>

    <div id="youtube-link">
      <a href="https://www.youtube.com/user/beetleborgnine" class="fa fa-youtube-square fa-4x"></a>
    </div>
  </div>

  <div id="photo">
    <div id="photo-box">
      <button id="photo-slideshow-prev-button"
              class="button-link fa fa-chevron-left fa-4x">
      </button>

      <img id="photo-slideshow-url" src="#">

      <button id="photo-slideshow-next-button"
              class="button-link fa fa-chevron-right fa-4x">
      </button>
    </div>
    <div id="flickr-link">
      <a href="https://www.flickr.com/people/71142284568111622/" class="fa fa-flickr fa-4x"></a>
    </div>
  </div>
</section>

<footer id="main-footer">
  <p>&copy; Zach Hadgraft 2016 - <%= Time.now.year %></p>
</footer>
