<section id="diversions">

  <header>
    <h2>Diversions</h2>
  </header>

  <div class="wrapper">
    <div class="inner-wrapper">
      <button id="video-button" class="button-link fa fa-video-camera fa-5x"></button>
      <h3>
        Videos
      </h3>
    </div>
  </div>

  <div class="wrapper">
    <div class="inner-wrapper">
      <button id="photo-button" class="button-link fa fa-camera fa-5x"></button>
      <h3>
        Photos
      </h3>
    </div>
  </div>

  <div id="video">
    <p class="video-slideshow-title"
       id="video-slideshow-title">
      Video Title
    </p>

    <div id="video-box">
      <button id="video-slideshow-prev-button"
              class="button-link fa fa-chevron-left fa-4x">
      </button>

      <iframe width="700" height="475"
              id="video-slideshow-iframe"
              allowfullscreen
              >
      </iframe>

      <button id="video-slideshow-next-button"
              class="button-link fa fa-chevron-right fa-4x">
      </button>
      <div><p>
          <a href="https://www.youtube.com/user/beetleborgnine" class="fa fa-youtube-square fa-4x"></a>
      </p></div>
    </div>

    <p id="video-slideshow-description">
      Video Description
    </p>

    <p id="video-slideshow-tech-description">
      Video Technical Description
    </p>
  </div>

  <div id="photo">
    <div id="photo-box">
      <button id="photo-slideshow-prev-button"
              class="button-link fa fa-chevron-left fa-4x">
      </button>

      <div id="photo-inner-box">
        <img id="photo-slideshow-url" src="#">
      </div>

      <button id="photo-slideshow-next-button"
              class="button-link fa fa-chevron-right fa-4x">
      </button>

      <div><p>
          <a href="https://www.flickr.com/people/71142284568111622/" class="fa fa-flickr fa-4x"></a>
      </p></div>
    </div>
  </div>
</section>
