<div id="pb-out-wrapper">
  <div id="pb-in-wrapper">
    <button id="photo-button" class="button-link fa fa-camera fa-5x"></button>
    <h3>
      Photos
    </h3>
  </div>
</div>

<div id="photo">
  <div id="photo-box">
    <button id="photo-slideshow-prev-button"
            class="button-link fa fa-chevron-left fa-4x">
    </button>

    <img alt="slideshow photo" id="photo-slideshow-url" src="#">

    <button id="photo-slideshow-next-button"
            class="button-link fa fa-chevron-right fa-4x">
    </button>
  </div>
  <div id="flickr-link">
    <a href="https://www.flickr.com/people/71142284568111622/" class="fa fa-flickr fa-4x"></a>
  </div>
</div>
