<section id="sites">
  <div class="wrapper">
    <h2>Sites</h2>
    <div class="site-box">
      <button id="site-slideshow-prev-button"
              class="button-link fa fa-chevron-left fa-4x">
      </button>

      <a id="site-slideshow-site_url"
         href="https://reddit-clone456.herokuapp.com/">
        <img id="site-slideshow-img_url"
             alt="N Rooms Site Screenshot"
             src="../img/nrooms_ss.png"
             height="200px" width="200px" alt="N Rooms">
      </a>

      <button id="site-slideshow-next-button"
              class="button-link fa fa-chevron-right fa-4x">
      </button>
    </div>

    <p>
      <a id="site-slideshow-code_url"
         href="https://github.com/ptMcGit/reddit_clone" class="code-link">
        &lt;code&gt;
      </a>
    </p>

    <div class="horizontal-rule"></div>

    <p id="site-slideshow-short_desc">
      A social media platform with reddit-like features.
    </p>

    <p id="site-slideshow-tech_desc">
      (Ruby on Rails, heroku)
    </p>

    <p id="site-slideshow-work_desc">
      front-end development: Bootstrap, jQuery</br>
      back-end development: PostgreSQL, devise, pundit, RSpec, Capybara
    </p>
  </div>
</section>
