<section id="sites">
  <header>
    <h2>Sites</h2>
  </header>
  <div id="site-box">
    <button id="site-slideshow-prev-button"
            class="button-link fa fa-chevron-left fa-4x">
    </button>

    <a id="site-slideshow-site_url"
       href="#">
      <img id="site-slideshow-img_url"
           alt="site screenshot"
           src="../placeholder"
           height="200" width="200">
    </a>

    <button id="site-slideshow-next-button"
            class="button-link fa fa-chevron-right fa-4x">
    </button>
  </div>

  <div id="site-description">
    <div id="sstd-backing">
    <div id="sstd-wrapper">
      <span id='l-bracket' class="large-bracket">[</span>
      <p id="site-slideshow-tech_desc">
        [ Ruby on Rails, heroku ]
      </p>
      <span id='r-bracket' class="large-bracket">]</span>
    </div>
    </div>
    <div id="sssd-wrapper">
      <p id="site-slideshow-short_desc">
      </p>
    </div>

    <div id="sswd-wrapper">
      <p id="site-slideshow-work_desc">
      </p>
    </div>

    <div id="sscui-wrapper">
      <a id="site-slideshow-code_url-icon" class="fa fa-github-square fa-4x"
         href="#">
      </a>
    </div>
  </div>
</section>

<div id="sites-stub"></div>
