<header id="main-header">
  <div id="mn-wrapper">
    <h1 id="my-name">Zach Hadgraft</h1>
  </div>

  <div id="od-wrapper">
    <p id="occupational-description">
      <span class="large-bracket">[</span>
      Web Developer, Development Operations
      <span class="large-bracket">]</span>
    </p>
  </div>
</header>

<nav id="main-nav">

  <div id="nav-1">
    <div id="icon-buttons">
      <div class="button-and-text">
        <div class="icon-wrapper">
          <a href="https://www.linkedin.com/in/zach-hadgraft" class="fa fa-linkedin-square fa-4x"></a>
        </div>
        <div class="text-wrapper">
          <p>
            LinkedIn
          </p>
        </div>
      </div>

      <div class="button-and-text">
        <div class="icon-wrapper">
          <a href="../img/zdh-resume.pdf" class="fa fa-file-text fa-4x"></a>
        </div>
        <div class="text-wrapper">
          <p>
            R&#xe9;sum&#xe9;
          </p>
        </div>
      </div>

      <div class="button-and-text">
        <div class="icon-wrapper">
          <button id="email-button" class="button-email fa fa-envelope-o fa-4x"></button>
        </div>
        <div class="text-wrapper">
          <p>
            Email
          </p>
        </div>
      </div>

      <div class="button-and-text">
        <div class="icon-wrapper">
          <a href="https://www.github.com/ptmcgit" class="fa fa-github-square fa-4x"></a>
        </div>
        <div class="text-wrapper">
          <p>
            GitHub
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="nav-2">
    <button id="about-me-button" class="button-link body-text-buttons">About Me</button>
    <div class="nav-2-item-wrapper">
      <a id="sites-link" href="#sites">Sites</a>
    </div>
    <div class="nav-2-item-wrapper">
      <a id="diversions-link" href="#diversions">Diversions</a>
    </div>
  </div>

  <!-- link to go to the top -->
  <a id="top-link" href="#top" class="fa fa-arrow-circle-up fa-4x"></a>

  <%= render '/partials/email_me_modal.html' %>

  <%= render '/partials/about_me_modal.html' %>

</nav>

<div id="top-stub"></div>
