<header id="main-header">
  <div id="mn-wrapper">
    <h1 id="my-name"><a href="../">Zach Hadgraft</a></h1>
  </div>

  <div id="od-wrapper">
    <p id="occupational-description">
      <span class="large-bracket">[</span>
      Web Developer, Development Operations
      <span class="large-bracket">]</span>
    </p>
  </div>
</header>

<nav id="main-nav">

  <div id="nav-1">
    <div id="icon-buttons">
      <div class="button-and-text">
        <div class="icon-wrapper">
          <a href="https://www.linkedin.com/in/zach-hadgraft" class="fa fa-linkedin-square fa-4x"></a>
        </div>
        <div class="text-wrapper">
          <p>
            LinkedIn
          </p>
        </div>
      </div>

      <div class="button-and-text">
        <div class="icon-wrapper">
          <a href="../img/zdh-resume.pdf" class="fa fa-file-text fa-4x"></a>
        </div>
        <div class="text-wrapper">
          <p>
            R&#xe9;sum&#xe9;
          </p>
        </div>
      </div>

      <div class="button-and-text">
        <div class="icon-wrapper">
          <button id="email-button" class="button-email fa fa-envelope-o fa-4x"></button>
        </div>
        <div class="text-wrapper">
          <p>
            Email
          </p>
        </div>
      </div>

      <div class="button-and-text">
        <div class="icon-wrapper">
          <a href="https://www.github.com/ptmcgit" class="fa fa-github-square fa-4x"></a>
        </div>
        <div class="text-wrapper">
          <p>
            GitHub
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="nav-2">
      <button id="about-me-button" class="button-link body-text-buttons">About Me</button>
    <div class="nav-2-item-wrapper">
      <a id="sites-link" href="#sites">Sites</a>
    </div>
    <div class="nav-2-item-wrapper">
      <a id="diversions-link" href="#diversions">Diversions</a>
    </div>
  </div>


  <!-- link to go to the top -->
  <a id="top-link" href="#top" class="fa fa-arrow-circle-up fa-4x"></a>

  <!-- email modal -->
  <div id="email-me">
    <p>
      z.hadgraft@gmail.com
    </p>
    <a href="mailto:z.hadgraft@gmail.com">
      <span id="mailto">mailto:</span>
      z.hadgraft@gmail.com
    </a>
  </div>

  <!-- about me modal -->
  <div id="about-me">
    <p class="about-me-copy">
      I spent most of my undergrad working on student films.
      After I graduated I decided to leave those ambitions behind, and moved to California to work for a candy manufacturer.
    </p><p class="about-me-copy">
      Life at the chocolate factory was sweet, but I decided to leave in pursuit of different challenges.
      A year later I was learning the ropes on a Linux server.
    </p><p class="about-me-copy">
      In the summer of 2016, I completed a 12-week intensive Ruby on Rails Back End Engineering course at the Iron Yard in Durham, NC.
      I am currently pursuing an associate's degree in web development.
    </p><p class="about-me-copy">
      Most of my training is in web development, but I am open to other challenges. My background is in the arts and I have extensive experience working for small businesses.
    </p><p class="about-me-copy">
      I enjoy playing/writing music, photography, and getting outdoors in my free time.
    </p>
  </div>


</nav>
