@media screen
and (orientation: portrait)
and (min-width: $tablet-portrait-width) {
  section#diversions {
    #photo-modal-outside {
      #photo-modal-close {
        height: 10%;
        font-size: 5vh;
      }
      #photo-box {
        height: 70%;
      }
      #photo-slideshow-url {
        max-width: 78%;
      }

      #photo-slideshow-prev-button {
        font-size: 6.8vh;
        width: 8%;
      }
      #photo-slideshow-next-button {
        font-size: 6.8vh;
        width: 8%;
      }
      #flickr-link {
        height: 20%;
        font-size: 1.6vh;
      }
    }
  }
}
