@media screen
and (orientation: portrait) {
  section#diversions {
    #video-modal-outside {
      .fa-4x {
        font-size: 2em;
      }
      #video-modal-close {
        height: 10%;
        font-size: 11vw;
      }
      #video-slideshow-title {
        font-size: 7vw;
        height: 10%;
      }
      #video-box {
        height: 41%;
      }
      #video-slideshow-next-button {
        width: 11%;
      }
      #video-slideshow-prev-button {
        width: 11%;
      }
      #video-slideshow-description {
        display: block;
        height: 10%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
      #video-slideshow-tech-description {
        display: block;
        height: 7%;
        font-size: 4.5vw;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
      }
      #youtube-link {
        height: 23%;
        font-size: 7vw;
        text-shadow: $text-shadow-1;
      }
      #video {
        width: 100%;
      }
      #video-slideshow-iframe {
        max-width: 70%;
        max-height: 77%;
      }
    }
  }
}