@media screen
and (orientation: landscape)
and (min-width: $desktop-landscape-width) {
  section#diversions {
    #video-modal-outside {
      #video {
        padding: 0;
        margin-top: 25px;
        height: 611px;
        width: 900px;
        border-top: 1px solid $light-mid-gray;
        border-bottom: 4px solid $light-mid-gray;
      }
      #video-modal-close {
        height: 33px;
        display: block;
        text-align:right;
        float: initial;
        font-size: 36px;
        font-weight: bold;
      }
      #video-banner {
        height: 49px;
        border-top: 2px solid $color-10;
        border-bottom: 2px solid $color-11;
      }
      #video-slideshow-title {
        font-size: 40px;
      }
      #video-box {
        height: 352px;
      }
      #video-slideshow-prev-button {
        height: 100%;
        width: 55px;
      }
      #video-slideshow-next-button {
        height: 100%;
        width: 55px;
      }
      #video-slideshow-iframe {
        display: inline-block;
        width: 640px;
        height: 340px;
      }
      #video-slideshow-description {
        display: block;
        font-size: 28px;
        height: 43px;
        width: 809px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 19px;
      }
      #video-slideshow-tech-description {
        display: block;
        height: 30px;
        font-size: 19px;
      }
      #youtube-link {
        font-size: 15px;
        height: 60px;
      }
    }
  }
}
