$diversions-height: 85vh;
$footer-height: 15vh;

@media screen {
  section#diversions {
    height: $diversions-height;
    text-align: center;
    header {
      @include alignment-wrapper-1;
      height: 23%;
      h2 {
        @include align-3;
        font-size: 7vw;
        text-shadow: $text-shadow-1;
      }
    }
    h3 {
      font-family: $font-family-3;
    }
    .fa-camera {
      color:          #1f1818;
      text-shadow:    2px 2px 2px #2d2d2d;
    }
    .fa-video-camera {
      color:          #575b5f;
      text-shadow:    $text-shadow-1;
    }
    button {
      @include button_as_link;
    }
    .fa-5x {
      font-size: 3em;
    }
    .wrapper-1 {
      @include alignment-wrapper-1;
      height: 42%;
      .inner-wrapper {
        @include align-1;
      }
    }
    .wrapper-2 {
      @include alignment-wrapper-1;
      height: 35%;
      .inner-wrapper {
        @include align-1;
      }
    }
  }
  footer#main-footer {
    height: $footer-height;
    @include alignment-wrapper-1;
    p {
      @include align-1;
      font-size: 3vw;
    }
  }
}