@media screen
and (orientation: portrait)
and (min-width: $tablet-portrait-width) {
  section#diversions {
    header {
      h2 {
        font-size: 12vw;
      }
    }
    .fa-5x {
      font-size: 5em;
    }
  }
  footer#main-footer {
    p {
      font-size: 2vw;
    }
  }

}
