$x-small:   320px;
$small:     480px;
$medium:    560px;
$large:     640px;
$x-large:   800px;
$xx-large:  1024px;

* {
    border: 1px dashed white !important;
    overflow: hidden !important;
}

#top {
    header {
        /*background: green;*/
    }
}

body {
    @media (max-width: $x-large) {
        background: blue;
    }
    @media (max-width: $large) {
        background: green;
    }
    @media (max-width: $medium) {
        background: #8d8d68;
    }
    @media (max-width: $small) {
        background: orange;
    }
    @media (max-width: $x-small) {
        background: red;
    }
    @media (min-width: $x-large) {
        background: indigo;
    }
}
