$x-small:   320px;
$small:     480px;
$medium:    560px;
$large:     640px;
$x-large:   800px;
$xx-large:  1024px;

* {
    border: 1px dashed white !important;
    overflow: hidden !important;
    font-size: 1vw !important;
}

img {
  height: 5px !important;
  width: 5px !important;
}

body {
  background: red !important;
  @media (min-width: $x-small) {
    background: orange !important;
  }
  @media (min-width: $small) {
    background: #8d8d68 !important;
  }
  @media (min-width: $medium) {
    background: green !important;
  }
  @media (min-width: $large) {
    background: blue !important;
  }
  @media (min-width: $x-large) {
    background: indigo !important;
  }
  @media (min-width: $xx-large) {
    background: violet !important;
  }
}
