* {
    border: 1px dashed white;
    overflow: hidden;
}

#top {
    header {
        /*background: green;*/
    }
}

body {
    @media (max-width: $x-large) {
        background: blue;
    }
    @media (max-width: $large) {
        background: green;
    }
    @media (max-width: $medium) {
        background: yellow;
    }
    @media (max-width: $small) {
        background: orange;
    }
    @media (max-width: $x-small) {
        background: red;
    }
    @media (min-width: $x-large) {
        background: indigo;
    }
}
