/* Colors */

/* tints */

$light-gray:        #aaaaaa;
$light-mid-gray:    #59514d;
$light-mid-gray-2:  #7a756b;
$light-mid-gray-3:  #8C827F;
$mid-gray:          #534c48;
$faded-maroon:      #563939;
$light-beige:       #f3eed8;

/* tones */

$bright-red:        red;
$middle-red:        #c22121;
$dark-red:          #7b1515;
$mid-brown:         #A26E4E;
$bright-yellow:     #fffb00;
$beige:             #eadfb0;
$brown:             #66432D;

/* shades */

$dark-gray:         #48423f;
$dark-brown:        #362418;
$black:             #000000;

$color-1:           $beige;
$color-2:           $bright-yellow;
$color-3:           $middle-red;
$color-4:           $light-mid-gray;
$color-5:           $brown;
$color-6:           $light-beige;
$color-7:           $mid-brown;
$color-8:           $dark-brown;
$color-9:           $light-mid-gray-3;
$color-10:          $bright-red;
$color-11:          $dark-red;
$color-12:          $light-gray;

$background-1:      $dark-gray;
$background-2:      $black;
$foreground-1:      $light-gray;


$shade-1: $middle-red;
$shade-2: #a40d0d;
$shade-3: $dark-red;

/* Sizes */

$lg-phone-portrait-width: 375px;
$lg-phone-landscape-width: 700px;
$tablet-portrait-width: 700px;
$desktop-landscape-width: 1024px;

/* Typography */

$sans-serif:        'Bangers', helvetica, sans-serif;
$sans-serif-2:      helvetica, sans-serif;
$sans-serif-3:      Arial, sans-serif;
$monospace:         courier, monospace, Arial, sans-serif;

$font-family-1:     $sans-serif;
$font-family-2:     $monospace;
$font-family-3:     $sans-serif-2;
$font-family-4:     $sans-serif-3;

$text-shadow-1:     2px 2px 2px $black;
$text-shadow-2:     2px 2px 0px $black;

/* Miscellaneous */

$border-1:          2px dotted $color-2;
