/* Colors */

/* tints */

$light-gray:        #aaaaaa;
$mid-gray:          #534c48;
$faded-maroon:      #563939;

/* tones */

$middle-red:        #c22121;
$bright-yellow:     #fffb00;
$beige:             #eadfb0;

/* shades */

$dark-gray:         #48423f;
$black:             #000000;

$color-1:           $beige;
$color-2:           $bright-yellow;
$color-3:           $middle-red;

$background-1:      $dark-gray;
$background-2:      $black;
$foreground-1:      $light-gray;


$shade-1: $middle-red;
$shade-2: #a40d0d;
$shade-3: #7b1515;

/* Sizes */

$lg-phone-portrait-width: 375px;
$lg-phone-landscape-width: 700px;
$tablet-portrait-width: 700px;
$desktop-landscape-width: 1024px;

/* Typography */

$sans-serif:        'Bangers', helvetica, sans-serif;
$sans-serif-2:      helvetica, sans-serif;
$sans-serif-3:      Arial, sans-serif;
$monospace:         courier, monospace, Arial, sans-serif;

$font-family-1:     $sans-serif;
$font-family-2:     $monospace;
$font-family-3:     $sans-serif-2;
$font-family-4:     $sans-serif-3;

$text-shadow-1:     2px 2px 2px $black;

/* Miscellaneous */

$border-1:          2px dotted $color-2;
$text-shadow-1:     2px 2px 2px $black;
