// @mixin alignment-wrapper-1 {
    // display: -moz-flex;
    // display: -webkit-flex;
    // display: flex;
    // justify-content: -moz-center;
    // justify-content: -webkit-center;
    // justify-content: center;
    // flex-direction: -moz-column;
    // flex-direction: -webkit-column;
    // flex-direction: column;
// }

@mixin alignment-wrapper-1 {
    display: table;
    margin: auto;
}

@mixin align-1 {
    display: table-cell;
    vertical-align: middle;
}

@mixin align-2 {
  display: table-cell;
  vertical-align: top;
}

@mixin align-3 {
  display: table-cell;
  vertical-align: bottom;
}

@mixin button_as_link {
    background: none;
    border:     none;
    outline:    transparent;
    cursor:     pointer;
}
