@media screen {
  section#diversions {
    height: 85vh;
    header {
      @include alignment-wrapper-1;
      text-align: center;
      height: 23%;
      h2 {
        @include align-3;
        font-size: 12vh;
        text-shadow: $text-shadow-1;
      }
    }
    h3 {
      font-family: $font-family-3;
    }
    #vb-out-wrapper {
      @include alignment-wrapper-1;
      height: 42%;
    }
    #vb-in-wrapper {
      @include align-1;
    }
    #video-button {
      @include button_as_link;
      color:          #575b5f;
      text-shadow:    $text-shadow-1;
      font-size: 16.9vh;
    }
    #pb-out-wrapper {
      @include alignment-wrapper-1;
      height: 35%;
    }
    #pb-in-wrapper {
      @include align-1;
    }
    #photo-button {
      @include button_as_link;
      color:          #1f1818;
      text-shadow:    2px 2px 2px #2d2d2d;
      font-size: 16.9vh;
    }
  }
}
footer#main-footer {
  height: 15vh;
  @include alignment-wrapper-1;
  p {
    @include align-1;
    font-size: 3.9vh;
  }
}
