@media screen
and (orientation: portrait) {
  section#diversions {
    header {
      height: 27%;
      h2 {
        font-size: 11vh;
      }
    }
    h3 {
      font-size: 3.5vh;
    }
    #vb-out-wrapper {
      height: 35%;
    }
    #vb-in-wrapper {
      @include align-1;
    }
    #video-button {
      font-size: 12.1vh;
    }
    #pb-out-wrapper {
      height: 38%;
    }
    #pb-in-wrapper {
      @include align-2;
    }
    #photo-button {
      font-size: 12.1vh;
    }
  }
  footer#main-footer {
    p {
      font-size: 2.4vh;
    }
  }
}
