@media screen
and (orientation: landscape)
and (min-width: $desktop-landscape-width) {
  section#diversions {
    height: 562px;
    header {
      h2 {
        font-size: 66px;
      }
    }
    #video-button {
      font-size: 87px;
    }
    #photo-button {
      font-size: 87px;
    }
  }
  footer#main-footer {
    height: 162px;
    p {
      font-size: 14.9px;
    }
  }
}
