@media screen
and (orientation: landscape)
and (min-width: $lg-phone-landscape-width) {
  section#diversions {
    #vb-out-wrapper {
      height: 41%;
    }
    #video-button {
      font-size: 18.9vh;
    }
    #pb-out-wrapper {
      height: 36%;
    }
    #pb-in-wrapper {
      @include align-2;
    }
    #photo-button {
      font-size: 18.9vh;
    }
  }
}
