@media screen
and (orientation: portrait)
and (min-width: $tablet-portrait-width) {
  section#diversions {
    header {
      h2 {
        font-size: 10vh;
      }
    }
    #vb-in-wrapper {
      @include align-1;
    }
    #video-button {
      font-size: 10.1vh;
    }
    #photo-button {
      font-size: 10.1vh;
    }
  }
  footer#main-footer {
    p {
      font-size: 1.8vh;
    }
  }
}
