@media screen
and (orientation: landscape) {
  header#main-header {
    .wrapper-1 {
      #my-name {
        font-size: 10vw;
      }
    }
    .wrapper-2 {
      #occupational-description {
        font-size: 2.5vw;
      }
    }
  }
  nav#main-nav {
    #nav-1 {
      height: 47%;
      font-size: 2.9vw;
      #icon-buttons {
        .button-and-text {
          width: 23%;
        }
      }
    }
    #nav-2 {
      font-size: 3.4vw;
      height: 53%;
    }
  }
}
