@media screen
and (orientation: landscape)
and (min-width: $desktop-landscape-width) {
  header#main-header {
    height: 170px;
    #mn-wrapper {
      height: 85%;
    }
    #my-name {
      font-size: 77px;
      border-bottom: 2px dotted $color-2;
    }
    #od-wrapper {
      @include alignment-wrapper-1;
      height: 15%;
    }
    #occupational-description {
      font-size: 15px;
    }
    .large-bracket {
      font-size: 26px;
    }
  }
  nav#main-nav {
    height: 500px;
    #nav-1 {
      font-size: 20px;
      height: 27%;
      width: 747px;
      margin-bottom: 1%;
      #icon-buttons {
      }
      .button-and-text {
        width: 13%;
        height: 24%;
        padding-bottom: 0%;
        padding-top: 2%;
      }
    }
    #nav-2 {
      /* original calc on 662px i.e. this would be 284px */
      height: 63%;
      font-size: 37px;
      letter-spacing: 4.2px;
      .nav-2-item-wrapper {
        text-transform: none;
        /* does not add up to 100% */
        height: 20%;
        width: auto;
      }
      #about-me-button {
        text-transform: none;
        height: 20%;
        background: none;
        width: auto;
        color: $color-2;
        text-shadow: $text-shadow-1;
      }
      #sites-link {
        background: none;
        color: $color-2;
        text-shadow: $text-shadow-1;
      }
      #diversions-link {
        background: none;
        color: $color-2;
        text-shadow: $text-shadow-1;
      }
    }
  }
  #top-stub {
    height: calc(100vh - (480px + 170px));
    background: $background-1;
  }

}
