@media screen
and (orientation: portrait)
and (min-width: $lg-phone-portrait-width) {
  header#main-header {
    height: 35vh;
    #mn-wrapper {
      height: 87%;
    }
    #my-name {
      font-size: 11.6vh;
    }
    #od-wrapper {
      @include alignment-wrapper-1;
    }
    #occupational-description {
      @include align-2;
      font-size: 2.1vh;
    }
  }
  nav#main-nav {
    height: 65vh;
    #nav-1 {
      height: 50%;
      width: 68%;
      font-size: 2.6vh;
    }
    #nav-2 {
      height: 50%;
    }
  }
}
